/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #25ab74;
  --error: #e7195a;
  --hover: #00ff95;
  --text: #cbcbcb;
}

body {
  background: #000000;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #000000;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--primary);
  text-decoration: none;
}

header a:hover {
  color: var(--hover);
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  margin: 0 32px;
}

.workout-details {
  background: #1C1C1C;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: var(--text)
  
}

/* ✅ Fix Button Placement */
.workout-actions {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.edit-icon {
  cursor: pointer;
  background: var(--primary);
  padding: 6px;
  border-radius: 50%;
  color: #000000;
}

.edit-icon:hover {
  background: var(--hover);
}

.delete-icon {
  cursor: pointer;
  background: var(--primary);
  padding: 6px;
  border-radius: 50%;
  color: #000000;
}

.delete-icon:hover {
  background: var(--hover);
}

/* new workout form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  background-color: #1C1C1C;
  border: 1px solid #2b2b2b;
  box-sizing: border-box;
  color: #F5F5F5
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--hover);
  color: #1C1C1C;
}

form h3,
form label {
  color: #cbcbcb;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}

nav a,
nav button {
  margin-left: 20px;
}

nav button {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 18px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

nav button:hover {
  color: var(--hover);
  border: 2px solid var(--hover)
}

nav span {
  color: var(--text)
}

/* auth forms */
form.signup,
form.login,
form.edit {
  max-width: 400px;
  margin: 40px auto;
  padding: 48px;
  background: #141414;
  border-radius: 4px;
}

form.signup input,
form.login input,
form.edit input {
  color: #F5F5F5
}

/* Search Bar */

.search-bar {
  flex-grow: 1;
}

.search-bar input {
  border-radius: 30px;
  padding: 20px;
  background-color: #1C1C1C;
  border-color: #2b2b2b;
  color: #F5F5F5;
  width: 100%;
}

/* Sorting */

.search-and-sort-section {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.sorting {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sorting label {
  font-size: 1em;
}

.sorting select {
  padding: 12px 24px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #2b2b2b;
  background-color: #1C1C1C;
  color: var(--text);
  cursor: pointer;
}
